* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fcc4cc;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100px;
}

.intro-paragraph {
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 15px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.container,
input,
button {
  width: 300px;
}

input,
button {
  padding: 8px 5px;
}

input,
#error-message,
#success-message {
  text-align: center;
}

img,
p,
input,
button {
  margin-bottom: 12px;
}

button {
  cursor: pointer;
}

#error-message,
#success-message {
  display: none;
  width: 100%;
  padding: 12px 16px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

#error-message {
  background-color: #d40000;
}

#success-message {
  background-color: #048000;
}
