* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  background-color: #2bc42b;
  color: #fff;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 22px;
}

form {
  width: 30%;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  margin-bottom: 16px;
}

button {
  background-color: #2bc42b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #1b811b;
}

.error {
  color: #b60101;
  margin-bottom: 16px;
}

.name-error {
  display: none;
  color: #b60101;
  margin-bottom: 16px;
}
